<!doctype html>
<body>
<!-- Main Container -->
<div class="container"> 
	<form method = "post">
		<center>
		    <div class = "form-group" >
		        <input type="text" class="form-control" name="title" placeholder="title" style="width:700px">		    
		    </div>
		    <div class = "form-group">
		        <input type="text" class="form-control" name="title" placeholder="tag" style="width:700px">		    
		    </div>
		    <div class = "form-group">
		        <input type="text" class="form-control" name="title" placeholder="content" style="width:700px;height:450px">		    
  		    </div>
		    <button type="submit" class="btn btn-default center-block">submit</button>
		</center>
	<form>
</div>
<!-- Main Container Ends -->
</body>
</html>